{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Experiments{% endblock title %}

{% block polymer_imports %}
  <link rel="import" href="/lib/home-article.html">
{% endblock polymer_imports %}

{% block content %}

  <div id="white-back">
    <div id="text-box">
    <h1>A propos de moi</h1>
    Étudiant en master Recherche Opérationelle et Optimisation Combinatoire
    (ROCO). Passioné d'informatique et de mathématiques, je partage sur ce site
    les différentes expériences que je peux faire en javascript notamment a
    propos de génération procédurale.

    <h1>Plus personellement</h1>
    <p>
    J'ai fait un bac S où j'avais du mal a suivre les cours
    , a l'époque, tout ce que je voulais dans la vie, c'est faire de
    l'informatique. Une fois mon bac en poche, je me suis orienté vers une
    licence informatique. Et là, Oh joie ! Enfin un travail et des cours
    qui me plaisaient. j'ai continué mon parcours jusqu'à ma deuxième année, et
    là, j'ai pu entrer à <i>Polytech'Grenoble</i> pour étudier les réseaux
    informatiques. J'ai fait les deux premières années (bac+3 et bac+4).
    Pour ma dernière année, j'ai fait un double diplôme au Canada, plus
    précisément à <i>l'université du Québec à Chicoutimi (UQAC)</i>. Là bas, j'y
    ai découvert les joies du sirop d'érable, de la poutine et de différentes
    choses fortes sympatiques. J'y ai aussi suivi des cours comme le data mining
    , de la modélisation/simulation et la visualisation de graphes.
    Voulant encore apprendre des choses en mathématiques appliquées, je suis
    ensuite revenu dans ma ville natale, Grenoble faire un master en recherche
    opérationelle et optimisation combinatoire.
    </p>
    <p>
      Je suis aussi un fervant partisan de ce qu'on appelle les MOOC,
      (Massive Open Online Courses) qui sont des cours enseignés généralement
      par les universités les plus prestigieuses du monde (MIT, Stanford,
      Harvard, etc.). Ces cours traitent de domaines divers et variés et sont
      d'un excellent niveau pédagogique. J'ai pu en suivre un certain nombre
      et j'ai énormément appris de ces cours.
      Grâce aux cours en ligne, j'ai pu maîtriser ou approfondir les sujets
      suivants:
      <ul>
        <li>Algorithmique</li>
        <li>Nutrition</li>
        <li>Calculus</li>
        <li>Probabilités</li>
        <li>Cryptographie</li>
        <li>Visualisation de données</li>
        <li>Programmation par contraintes</li>
        <li>Fabrication numérique</li>
        <li>Et plein d'autres...</li>
      </ul>

    </p>
    </div>


  </div>
{% endblock content %}
