{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:image" content="{{ article.image }}" />
{% endblock opengraph %}

{% block title %}
    {{ article.title}}
{% endblock %}

{% block breadscrumbs %}
<li><a href="{{ SITEURL }}/" alt="main page">{{HOME_PAGE_NAME}}</a></li>
<li><span class="current" >{{ article.title }}</span></li>
{% endblock breadscrumbs %}


{% block content %}
    <article class="article-plain" itemscope itemtype="http://schema.org/BlogPosting">
        <div>
            <header>
                <div class="image"><img itemprop="image" alt="illustration de l'article" src={{ article.image }} /></div>
                <h1 itemprop="name"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title}}</a></h1>
                <span class="article-info">
                    le <span class="date" itemprop="datePublished" datetime="{{ article.locale_date }}">{{ article.locale_date }}</span> par
                    <span class="author" itemprop="author">{% for author in article.authors %}
                        {{ author }}
                    {% endfor %}</span>
                </span>
            </header>
            <p itemprop="articleBody">
                {{ article.content }}
            </p>
        </div>
    </article>
{% endblock %}
