{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:image" content="{{ article.image }}" />
{% endblock opengraph %}

{% block title %}
    {{ article.title}}
{% endblock title %}

{% block breadscrumbs %}
<li><a href="{{ SITEURL }}/" alt="main page">{{HOME_PAGE_NAME}}</a></li>
<li><span class="current" >{{ article.title }}</span></li>
{% endblock breadscrumbs %}

{% block polymer_imports %}
  <link rel="import" href="/lib/article-plain.html">
{% endblock polymer_imports %}

{% block style %}
  <style>
    img {
      width: 100%;
      height: auto;
    }

    #article {
      width: 100%;
    }
  </style>
{% endblock style %}

{% block content %}
  <article-plain id="article"
    title="{{article.title}}"
    url="{{ SITEURL }}/{{ article.url }}"
    image="{{ article.image }}"
    date="{{ article.locale_date }}"
    author="{% for a in article.authors %}{{a}}{% endfor %}"
  >
    {{ article.content }}
  </article-plain>
{% endblock %}
