<!DOCTYPE html>
<html lang="fr">

<head>
{% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.min.css" type="text/css" />
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <meta charset="UTF-8">
    <meta name="description" content="{{BLOG_DESCRIPTION}}">

    {% block opengraph %}
    <meta property="og:title" content="{{ KIWI_EDITO_TITLE }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ SITEURL }}/" />
    <meta property="og:image" content="{{ SITEURL }}/{{KIWI_EDITO_IMAGE_LINK}}" />
    {% endblock opengraph %}

    <script src="/lib/webcomponentsjs/webcomponents-lite.js"></script>
    {% block polymer_imports %}
    {% endblock polymer_imports %}
{% endblock head %}
</head>

<body>

    <header id="banner">
        <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>

        <ol id="breadcrumbs">
            {% block breadscrumbs %}
            {% endblock breadscrumbs %}
        <ol>
    </header>

    <section id="content">
    {% block content %} {% endblock %}
    </section>

    <footer id="main-footer">

        <ul id="link-list">
            <li><a href="/cv/">Mon CV</a></li>
        </ul>

        <div id="social-list">

            {% for name, username in SOCIAL %} {% if name == 'twitter' %}
            <a href="https://twitter.com/{{ username }}" alt="twitter: {{ username }}">
                <img src="{{ SITEURL }}/theme/img/TwitterLogo.png" alt="twitter: {{ username }}" />
            </a>
            {% elif name == 'github' %}
            <a href="https://github.com/{{ username }}" alt="github: {{ username }}">
                <img src="{{ SITEURL }}/theme/img/GitHub.png" alt="github: {{ username }}" />
            </a>
            {% endif %} {% endfor %}
            </a>
        </div>

        Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
        which takes great advantage of <a href="http://python.org">Python</a>.
        Kiwi theme by Luc Libralesso
    </footer>

    <script src="{{ SITEURL }}/theme/js/global.min.js" type="text/javascript"></script>

</body>

</html>
