{% extends "base.html" %}

{% block breadscrumbs %}
<li><span class="current" >{{HOME_PAGE_NAME}}</span></li>
{% endblock breadscrumbs %}

{% block polymer_imports %}
  <link rel="import" href="/lib/home-article.html">
{% endblock polymer_imports %}

{% block content %}

        <div id="edito">
            <div>
                <img src="{{KIWI_EDITO_IMAGE_LINK}}" alt="{{KIWI_EDITO_IMAGE_ALT}}" />
                <div>
                    <h1>{{KIWI_EDITO_TITLE}}</h1>
                    {{KIWI_EDITO_TEXT}}
                </div>
            </div>
        </div>

    <div id="post-list">
        <div>
        {% for article in articles_page.object_list %}
            <home-article
              title="{{article.title}}"
              url="{{ SITEURL }}/{{ article.url }}"
              image="{{ article.image }}"
              date="{{ article.locale_date }}"
            ></home-article>
        {% endfor %}
        </div>

        <div id="paginator">
            {% if articles_page.has_other_pages() %}
                {% if DEFAULT_PAGINATION %}
                    <p class="paginator">
                        {% if articles_page.has_previous() %}
                            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><<</a>
                        {% endif %}
                        <span>
                            Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                        </span>
                        {% if articles_page.has_next() %}
                            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">>></a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        </div>


    </div>

{% endblock content %}
