{% extends "base.html" %}

{% block breadscrumbs %}
<li><span class="current" >/</span></li>
{% endblock breadscrumbs %}

{% block content %}

        <div id="edito">
            <div>
                <img src="{{KIWI_EDITO_IMAGE_LINK}}" alt="{{KIWI_EDITO_IMAGE_ALT}}" />
                <div>
                    <h1>{{KIWI_EDITO_TITLE}}</h1>
                    {{KIWI_EDITO_TEXT}}
                </div>
            </div>
        </div>

    <div id="post-list">
        <div>
        {% for article in articles_page.object_list %}
            <a href="{{ SITEURL }}/{{ article.url }}">
                <article itemscope itemtype="http://schema.org/BlogPosting" >
                    <div class="image">
                      <img itemprop="image" alt="illustration de l'article" src={{ article.image }} />
                    </div>
                    <h2 itemprop="name">{{ article.title }}</h2>
                    <p itemprop="datePublished" datetime="{{ article.locale_date }}">{{ article.locale_date }}</p>
                </article>
            </a>
        {% endfor %}
        </div>

        <div id="paginator">
            {% if articles_page.has_other_pages() %}
                {% if DEFAULT_PAGINATION %}
                    <p class="paginator">
                        {% if articles_page.has_previous() %}
                            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><<</a>
                        {% endif %}
                        <span>
                            Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}
                        </span>
                        {% if articles_page.has_next() %}
                            <a href="{{ SITEURL }}/{{ articles_next_page.url }}">>></a>
                        {% endif %}
                    </p>
                {% endif %}
            {% endif %}
        </div>


    </div>

{% endblock content %}
