{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {% if article.description %}
        <meta name="description" content="{{article.description}}" />
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{tag}}" />
    {% endfor %}
{% endblock %}

{% block title %}
    {{ article.title}}
{% endblock %}

{% block content %}
    <article class="article-plain">
        <div>
            <header>
                <div style="background-image: url('{{ SITEURL }}/{{ article.image }}')" ></div>
                <h1>{{ article.title}}</h1>
                <span class="article-info">
                    le {{ article.locale_date }} par
                    {% for author in article.authors %}
                        {{ author }}
                    {% endfor %}
                </span>
            </header>
            <p>
                {{ article.content }}

                <!--{% if DISQUS_SITENAME %}

    				<div class="comments">
    				<h3>Commentaires</h3>
    				<div id="disqus_comments">
    					<button onclick="load_disqus()">nouveau</button>
    				</div>
    					<div id="disqus_thread">
    					{% if article.disqus_comments %}
    					<div class="post-list">
    						{% for comment in article.disqus_comments recursive %}
    						<article class="post">
    							<div class="post-content">
    								<header>
    									<div class="avatar hovercard">
    										<img alt="Avatar" src="{{ comment.author.avatar.cache }}">
    									</div>
    									<span class="publisher-anchor-color">Par {{ comment.author.name }}</span>
    									<span class="time-ago" title="{{ comment.createdAt }}">{{ comment.createdAt }}</span>
    								</header>
    								<div class="post-message-container">
    									{{ comment.message }}
    								</div>
    								{% if comment.children %}
    									<div class="post-children">
    										{{ loop(comment.children) }}
    									</div>
    								{% endif %}
    							</div>
    						</article>
    						{% endfor %}
    					</div>
    					{% else %}
    					  Aucun commentaire pour l'instant.
    					{% endif %}
    				<!--<script type="text/javascript">
    					var disqus_identifier = "{{ article.url }}";
    					function load_disqus() {
    						var dsq = document.createElement('script');
    						dsq.type = 'text/javascript';
    						dsq.async = true;
    						dsq.src = '//{{ DISQUS_SITENAME }}.disqus.com/embed.js';
    						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    						var load_button = document.getElementById('disqus_comments');
    						load_button.parentNode.removeChild(load_button);
    				  };
                  </script>
    				{% endif %}-->


            </p>
        </div>
    </article>
{% endblock %}
