@font-face {
    font-family: handwriting;
    src: url(billy.ttf);
}

a {
    color: #a9d459;
    text-decoration: none;
}

a:hover {
    color: #a7dfa7;
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: #464646;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

#banner {
    height: 90px;
    color: #f7f7f7;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #262626;
}

#banner h1 {
    float: left;
}

#banner h1 a {
    color: #f7f7f7;
    text-decoration: none;
    font-weight: normal;
    font-family: handwriting;
    font-size: 1.5em;
}

#main-nav ul {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    float: right;
}

#main-nav li a {
    margin-right: 10px;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-left: 15px;
}

#main-nav li a:hover {
    color: #d7ffc7;
}

.active-cat {
    
    border-bottom: 2px solid #a9d459;
}


#edito {
    border-top: 1px solid #c9f479;
    background-color: #a9d459;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.edito-title {
    font-weight: bold;
    font-size: 3em;
    margin-bottom: .5em;
    margin-left: 30%;
    font-family: handwriting;
}

.edito-img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 200px;
    border: 10px solid #f7f7f7;
}

.edito-text {
    font-size: 1.4em;
    margin: 10px;
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}

#post-list {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
}

#main-footer {
    padding: 20px;
    text-align: center;
    color: #f7f7f7;
}



.entry header {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.entry header h2 {
    flex-grow: 3;
}

.entry {
    padding-bottom: 50px;
    border-bottom: 1px solid #aaa;
    background-color: #f7f7f7;
    text-align: justify;
}

.entry footer {
    margin: 20px;
}

.post-info {
    float: right;
    margin-top: 10px;
}

.entry-content {
    margin-left: 5%;
    margin-right: 5%;
}

.to-article {
    background-color: #f7f7f7;
    border: 0px solid black;
    float: right;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #a9d459;
    text-decoration: none;
}

#social-list {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    margin-top: 10px;
}

.twitter-logo {
    width: 100px;
}

.github-logo {
    padding: 15px;
    width: 70px;
}

#paginator {
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 5px;
}
