#banner {
    height: auto;
    text-align: center;
}

#banner h1 {
    float: none;
}

#main-nav ul {
    float: none;
    margin-top: 0;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
}

#main-nav ul li {
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}

#edito {
    text-align: center;
    flex-direction: column;
}

.edito-title {
    margin-left: 0;
}

.edito-img {
    margin: auto;
    margin-top: 15px;
}

.edito-text {
    margin: 10px;
}

.entry header {
    flex-direction: column;
    text-align: center;
}

#social-list {
    flex-direction: column;
}