@import 'constants';

.article-plain {
    font-size: 1.5em;
    background-color: $white-color;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        margin: auto;

        header {
            div {
                width: 800px;
                height: 200px;
                background-color: $article-image-color;
            }

            h1 {
                display: block;
                color: $main_font_color;
                font-size: 2em;
                margin-bottom: 5px;
            }

            span {
                float: right;
                margin: 0;
                height: auto;
                margin-top: 10px;
                text-transform: uppercase;
                color: $second-font-color;
                font-size: 0.8em;
            }
        }

        p {
            text-align: justify;
        }
    }
}
