@import 'constants';

.article-plain {
    font-size: 1.3em;
    background-color: $white-color;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        margin: auto;

        img {
          width: 100%;
        }

        header {

            .image {
              width: 800px;
              height: 200px;
              overflow: hidden;
            }
            img {
                width: 100%;
                height: auto;
            }

            h1 {
                display: block;
                font-size: 1.5em;
                margin-bottom: 5px;

                a {
                  color: $main_font_color;
                }

            }

            .article-info {
                float: right;
                margin: 0;
                height: auto;
                margin-top: 10px;
                text-transform: uppercase;
                color: $second-font-color;
                font-size: 0.8em;
            }

            .date {
            }

            .author {
            }
        }

        p {
            text-align: left;
        }
    }
}
