body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-left {
      margin: 0;
      margin-bottom: 10px;
    }

    .banner-right {
      margin: 0;
      margin-top: 10px;
    }

    img {
      margin: 0;
      padding: 0;
    }

}

#edito {
    flex-direction: column;

    div {
        flex-direction: column;
        margin: auto;

        img {
            margin: auto;
        }

        div {
            margin: auto;

            p {
                margin: auto;
                margin-top: 15px;
            }
        }
    }
}

#post-list {

    padding-right: 0px;
    padding-left: 0px;

    div {
        width: 100%;
        margin: auto;
        padding: 0px;
    }
}

#article-div {
  margin: 0;
}

#main-footer {

    #link-list {
      flex-direction: column;

      li {
        padding: 5px;
        margin-bottom: 15px;
      }
    }

    #social-list {

        flex-direction: column;

        a {
            margin:auto;
            margin-top: 20px;
        }
    }

}
