body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#banner {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        margin-left: 0;
    }

    #breadcrumbs {
        margin-left: 5px;
    }

}

#edito {
    flex-direction: column;

    div {
        flex-direction: column;
        margin: auto;

        img {
            margin: auto;
        }

        div {
            margin: auto;

            p {
                margin: auto;
                margin-top: 15px;
            }
        }
    }
}

#post-list {

    padding-right: 0px;
    padding-left: 0px;

    div {
        width: 100%;
        margin: auto;
        padding: 0px;

        a {
            width: 90%;
            margin-left: 5%;
            margin-top: 20px;
            padding: 0;

            article {

                    div {
                        width: 100%;
                        height: 200px;
                    }
            }
        }
    }
}

#main-footer {

    #social-list {

        flex-direction: column;

        a {
            padding: 0;
            margin: 0;
            margin-top: 20px;
        }
    }

}

.article-plain {
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    div {
        max-width: 875px;
        width: 90%;
        margin: 0;
        padding: 0;
        margin-left: 5%;

        header {
            div {
                margin: 0;
                width: 100%;
                height: 200px;
            }

            .article-info {
                margin: 0;
            }

            span {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
    }
}
